# 데이터 타입 조정

- 변수(칼럼) 타입 확인 : 데이터.dtypes
- 변수를 범주형으로 변경 : 
  - 데이터['칼럼명'].astype('category')
- 변수를 수치형으로 변경 : 
  - 데이터['칼럼명'].astype('int')
  - 데이터['칼럼명'].astype('float')
- N/A 값의 처리 ( 사실 엑셀가서 편집하는게 편함)
    - NA 갯수 체크 : 데이터.isna().sum()
    - NA 값 채우기 : 데이터['칼럼명'].fillna(특정숫자)

In [ ]:
import pandas as pd

location = 'C:/Users/woner/Desktop/coding/machine_learning/(me)life_coding_Tensorflow101/csv/iris2.csv'
아이리스 = pd.read_csv(location)
아이리스.head()

In [ ]:
# 원핫인코딩 but 품종 is not categorized
인코딩 = pd.get_dummies(아이리스)
인코딩.head()

print(아이리스.dtypes)

In [ ]:
# 품종 타입을 범주형으로 바꾸어 준다.
아이리스['품종'] = 아이리스['품종'].astype('category')
print(아이리스.dtypes)

In [ ]:
# 원핫인코딩 but 품종 is catecory in this time
인코딩 = pd.get_dummies(아이리스)
인코딩.head()

In [ ]:
# NA CHECK
아이리스.isna().sum()

아이리스.tail()

In [18]:
# NA값에 꽃잎폭 평균값을 넣어주는 방법
mean = 아이리스['꽃잎폭'].mean()
print(mean)
아이리스['꽃잎폭'] = 아이리스['꽃잎폭'].fillna(mean)
아이리스.tail()

꽃잎길이     float64
꽃잎폭      float64
꽃받침길이    float64
꽃받침폭     float64
품종         int64
dtype: object
꽃잎길이      float64
꽃잎폭       float64
꽃받침길이     float64
꽃받침폭      float64
품종       category
dtype: object
3.0543624161073835

     꽃잎길이       꽃잎폭  꽃받침길이  꽃받침폭 품종
145   6.7  3.000000    5.2   2.3  2
146   6.3  2.500000    5.0   1.9  2
147   6.5  3.000000    5.2   2.0  2
148   6.2  3.400000    5.4   2.3  2
149   5.9  3.054362    5.1   1.8  2